html {
  font-size: 62.5%; }

body {
  min-width: 768px;
  margin: 0 auto;
  background: #fff; }

html,
body {
  height: 100%; }

.container {
  max-width: 1170px; }

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type="number"] {
  -moz-appearance: textfield; }

.clearfix:before,
.clearfix:after {
  display: table;
  content: ' '; }

.clearfix:after {
  clear: both; }

.clearfix {
  overflow: initial;
  *zoom: 1; }
